@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    --font-family: Inter, sans-serif;
    --p-size: 14px;
    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
}

body {
    background-color: var(--grey-900);
    font-family: var(--font-family);
    color: var(--white);
    min-height: 100vh;
    margin: 1.5rem;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

h2,
p {
    margin: 0;
}

p {
    font-size: var(--p-size);
}

.card {
    max-width: 17rem;
    border-radius: 1rem;
    background-color: var(--grey-800);
    padding: 1.5rem;
}

.social__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social__name {
    font-weight: var(--fw-bold);
    opacity: 90%;
}

.social__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.social__address {
    color: var(--green);
    font-weight: var(--fw-semibold);
    opacity: 90%;
}

.social__title {
    margin: 1rem;
    opacity: 70%;

}

.social__links ul {
    width: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social__links li {
    list-style: none;
}


.social__links a {
    display: block;
    border-radius: 0.5rem;
    text-align: center;
    background-color: var(--grey-700);
    padding: 0.7rem;
    text-decoration: none;
    color: white;
    font-size: var(--p-size);
    font-weight: var(--fw-semibold);
}

.social__links a:hover {
    background-color: var(--green);
    color: black;
    cursor: pointer;
}



.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}